<div class="form-group" [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>
  <div [ngSwitch]="question.controlType">
    <input
      class="form-control"
      *ngSwitchCase="'textbox'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />
    <select
      class="form-control"
      *ngSwitchCase="'dropdown'"
      [formControlName]="question.key"
      [id]="question.key"
    >
      <option
        *ngFor="let option of question.options; trackBy: trackOption"
        [value]="option.key"
      >
        {{ option.value }}
      </option>
    </select>
  </div>

  <div class="alert alert-danger" *ngIf="!isValid">
    {{ question.label }} is required
  </div>
</div>
